@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Roboto", sans-serif;
  transition: .3s all;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

button {
  cursor: pointer;
}

@import "header";
@import "begin";
@import "product";
@import "footer";
@import "menu";
@import "delivery";
@import "contacts";
@import "main";
@import "reviews";
@import "signIn";
@import "product_items";
@import "cart";
